*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

h1 {
    font-size: 4rem;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
    font-family: "Myriad";
    font-weight: bold;
    border-bottom: 3px solid black;
    /* border: 3px solid pink; */
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    min-height: 25vh;
    padding: 20px;
    border: 3px solid green;
}

#search-submit {
    border: 3px solid blue;
}

h2 {
    font-size: 2rem;
    padding: 10px;
    border-top: 3px solid black;

    /* border: 3px solid red; */
}

